<h1>Youtube Search</h1>
<form ng-submit="doSearch()" name="myForm">
  <input type="text" ng-model="query" required>
  <input type="submit" value="Search" ng-disabled="myForm.$invalid">
</form>
<h2>Results</h2>
<ul ng-show="results.length" style="list-style:none;padding:0">
  <li ng-repeat="result in results">
  <img ng-src="{{result.media$group.media$thumbnail[0].url}}" alt="{{result.title.$t}}">
  {{result.title.$t}}
  </li>
</ul>
<p ng-hide="results.length">上のフォームから検索してください</p>